*{
    border-box:none;
   over-flow: hidden;
}
body{
    background-color:#95ccff;
    font-size: 10px;
 
    }
    
section{
   background:#fff;
   padding: 20px;
   margin: 20px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
section ol{
margin-bottom: 30px;
}
section img{
    width:200px;

    
}


footer{
    text-align: center;
}
