*{
    border-box:none;
   over-flow: hidden;
}
body{
    background-color:#95ccff;
    font-size: 8px;
 
    }
    
section{
    height:80vh;
    
   background:#fff;
   padding: 100px;
   margin: 20px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
section img{
    width:250px;   
}


footer{
    text-align: center;
}
